@{
    ViewData["Title"] = "Отказано в доступе";
}

<p class="mx-5">Отказано в доступе</p>
<div class="alert-danger">
    @ViewData["ErrorMessage"]
</div>
<a class="btn btn-primary btn-sm" asp-controller="CreationsPlatform" asp-action="Index">Вернуться на главную</a>