@model CreationsPlatformWebApplication.Models.Creation.CreationViewModel

<div class="row w-100 m-auto">
    <div class="col-md-12 align-content-center">
        <form asp-controller="CreationsPlatform" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-2">
                <input type="text" class="form-control" asp-for="Creation.Title">
                <label asp-for="Creation.Title">@Html.DisplayNameFor(m => m.Creation.Title)</label>
                <span asp-validation-for="Creation.Title" class="text-danger"></span>
            </div>
            <div class="form-floating mb-2">
                <button type="submit" class="btn btn-sm btn-primary mb-2" asp-action="AddGenre">Добавить жанр</button>
                @for (var i = 0; i < Model.Creation.Genres.Count; i++)
                {
                    <div >
                        <select asp-for="Creation.Genres[i].Id" class="form-control genre-select genre-div" asp-items="@(new SelectList(Model.Genres, "Id", "Name"))"></select>
                        <button type="submit" class="btn btn-sm btn-danger mb-2 genre-div" asp-action="RemoveGenre" asp-route-index="@i">Удалить жанр</button>
                    </div>
                }
            </div>
            <div class="form-floating mb-2">
                <textarea class="form-control m-auto w-100" rows="37" asp-for="Creation.Content"></textarea>
                <label asp-for="Creation.Content">@Html.DisplayNameFor(m => m.Creation.Content)</label>
                <span asp-validation-for="Creation.Content" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary mb-2">Опубликовать</button>
            <a class="w-100 btn btn-lg btn-secondary" asp-action="MyCreations">Назад к моим произведениям</a>
        </form>
    </div>
</div>
